---
layout:
title: Instagate Technology
description: Provoking Innovation in a Complex World
sitemap:
    priority: 1
    lastmod: 2017-11-02 00:00:00
    changefreq: weekly
---

<!DOCTYPE HTML>

<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<a href="{{ "/" | absolute_url }}" class="logo"><img src="/images/logo2.png" style="height: 100px" alt=""></a>
						<h2>Strategic Engineering, Intellectual Property, + Security</h2>
						<p>Provoking Innovation in a Complex World</p>
						<ul class="actions">
                <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
				
         <nav id="nav">
            {% include nav.html %}
          </nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h3><a href="#">to provoke, to initiate or bring about.</a></h3>
									<p>With only a few edits, you can have a stunningly beautiful website <br />
                    nearly out of the box. Of course... you can always take it further <br />
                    and make it something even more amazing!</p>
								</header>
								<a href="#" class="image main"><img src="{{ "/images/pic04.jpg" | absolute_url }}" alt="" /></a>
                <p>The motivation for our work and research is founded on our birds-eye-view of the security sector, 
									and the need for proactive action and for an awakening in throughout our communities.</p>

							</article>

						<!-- Posts -->
              <section class="posts">
                {% for post in site.posts limit:3 %}
                {% assign mod3 = forloop.index | modulo: 3 %}
  								<article>
  									<header>
  										<span class="date">{{ post.date | date_to_string }}</span>
  										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  									<p>{{ post.excerpt }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
  									</ul>
  								</article>
                  {% if mod3 == 0 %}
                  <article>
  									<header>
  										<h2><a href="#">Sponsored</a></h2>
  									</header>

  								</article>
                  {% endif %}
                {% endfor %}

							</section>

						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/blog/" | absolute_url }}" class="button">Our Blog</a></li>
                </ul>
							</footer>
					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
