<!-- Copyright -->
<div id="copyright">
  <ul><li>&copy; 2022 {{site.title}}</li><li><a href="/terms/">Terms</a> &amp; <a href="/privacy/">Privacy</a></li><li>Transformed with <a href="https://jekyllrb.com" rel="nofollow">JEKYLL</a></li></ul>
</div>
<div id="copyright">
      <ul class="icons alt">
        <li><a href="https://twitter.com/{{site.social.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
        <li><a href="https://facebook.com/{{site.social.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
        <li><a href="https://instagram.com/{{site.social.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
        <li><a href="https://github.com/{{site.social.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
        <li><a href="mailto:{{site.email}}" class="icon fa-envelope" rel="nofollow"><span class="label">eMail</span></a></li>
      </ul>
    </section>
</div>